# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/*
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
.project
.classpath
.c9/
*.launch
.settings/
xcuserdata/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
npm-debug.log
yarn-error.log
/reports
/src/translations/template.*
# /src/environments/.env.*

# System files
.DS_Store
Thumbs.db





# Added by https://medium.com/knowledge-pills/file-gitignore-in-angular-project-c1d4483a79aa


# Cordova
/www
/plugins
/platforms

# Electron
/dist-electron
/dist-packages
/electron.main.js

# Maven
/target
/log



# System Files
.DS_Store
Thumbs.db